---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import 'prism-solarized-dark/prism-solarizeddark.css'

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props as Props
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={description}
      image={image}
    />
    <!-- Your custom Prism theme -->
    <link rel="stylesheet" href="/styles/prism.css" />
    <!-- Prism core & autoloader from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        if (typeof Prism !== 'undefined') {
          Prism.highlightAll();
        }
      });
    </script>
  </head>
  <body>
    <div
      class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased"
    >
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
